.jumbotron {
  padding: 1em 1em;
}

#order-alert {
  display: none;
}

#ingredient-alert {
  display: none;
}

#size-alert {
  display: none;
}

.order {
  display: none;
}

.form-number-input__beverages {
   width: 35px;
   height: 20px;
}
